{% extends 'main.html' %}
{% load static %}

{% block content %}
      
      <link rel="stylesheet" href="{% static 'styles/room_form.css' %}">
      <div class="container">
        <img src="{% static '/images/vector.png' %}" alt="" srcset="" style=" 
        left: 7%;
        position: absolute;
        top: 44%;
        width: 66px;
        transform: rotate(302deg);">
        <img src="{% static '/images/vector.png' %}" alt="" srcset="" style=" 
       left: 12%;
        position: absolute;
        top: 38%;
        width: 49px;
        transform: rotate(302deg);">
        <img src="{% static '/images/vector.png' %}" alt="" srcset="" style=" 
        left: 73%;
        position: absolute;
        top: 8%;
        width: 66px;
        transform: rotate(356deg);">
        <img src="{% static '/images/vector.png' %}" alt="" srcset="" style=" 
        left: 19%;
        position: absolute;
        top: 78%;
        width: 89px;
        transform: rotate(242deg);">

        {% comment %} <img src="{% static '/images/pengui.png' %}" alt="" srcset="" class="peng"> {% endcomment %}
        <div class="cont">
          <h1 class="dup">Create Room</h1>
          <h1 class="dup-1">Create Room</h1>

          <form method="post" action="" class="room_form">
            {% csrf_token %}
              <div class="row">
                  <p>Room Name</p>
                  <input type="text" name="name" placeholder="Eg. Mastering Python + Django"/>
              </div>

              <div class="row">
                  <p>Topic</p>
                  <select name="topic" required="" id="id_topic">
                    <option value="" selected="">---------</option>
                  
                    <option value="1">Python</option>
                  
                    <option value="2">Django</option>
                  
                    <option value="3">Web Development</option>
                  
                    <option value="4">JavaScript</option>
                  
                  </select>
                  {% comment %} <input type="text" /> {% endcomment %}
              </div>

              <div class="row">
                  <p>About</p>
                  <input type="text" name="description" placeholder="Write about your Room" class="textView"/>
              </div>

              <div class="submitButton">
                  {% comment %} <input type="reset" value="Cancel" id="">  {% endcomment %}
                  <input type="submit" value="Create Room" id="">
              </div>
          </form>

        </div>
      </div>

      {% endblock content %}